@import "tailwindcss/utilities";

.navbar-container {
  @apply fixed top-0 left-0 h-full z-50;
}

.sidebar {
  @apply bg-gray-100 h-full p-4 w-64 fixed top-0 left-0 transition-transform duration-200 ease-in-out z-50;
}

.profile {
  @apply flex items-center justify-between mb-6;
}

.add-task-button {
  @apply flex items-center bg-red-500 text-white p-2 rounded mb-6 hover:bg-red-600;
}

.menu-item a {
  @apply flex items-center text-gray-700 hover:bg-gray-200 p-2 rounded;
}

.projects {
  @apply mt-6;
}

.logout-button {
  @apply flex items-center bg-red-500 text-white p-2 rounded mt-6 hover:bg-red-600;
}

.navbar-toggle-button {
  position: relative;
  top: 1rem;
  left: 1rem;
  z-index: 0;
}

.navbar-container {
  position: relative;
}

.sidebar {
  border-radius: 0 1rem 1rem 0;
  left: 2px; /* Spazio dal margine sinistro della pagina */
}

.profile img {
  border-radius: 50%;
}

.add-task-button,
.logout-button {
  border-radius: 0.5rem;
}
