<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-white text-lg font-semibold">
      <a href="/" class="hover:text-gray-300">SmartDev</a>
    </div>
    <div class="flex space-x-4">
      <a routerLink="/" class="text-gray-300 hover:text-white">Home</a>
      <a routerLink="/dashboard" class="text-gray-300 hover:text-white"
        >Dashboard</a
      >
      <div class="flex space-x-4">
        <a routerLink="/auth/login" class="text-gray-300 hover:text-white"
          >Login</a
        >
        <a routerLink="/auth/register" class="text-gray-300 hover:text-white"
          >Register</a
        >
      </div>
      <div>
        <button (click)="logout()" class="text-gray-300 hover:text-white">
          Esci
        </button>
      </div>
    </div>
  </div>
</nav>
